*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

button {
  background-color: transparent;
  cursor: pointer;
}

body {
  background-color: var(--white);
}

.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 15px;
}

