@media (max-width: 1200px) {
  .s-hero .text {
    max-width: 49%;
  }
}

@media (max-width: 991px) {
  .menu-list {
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    top: 8.8rem;
    left: 0;
    background-color: #dee2e6;
    transition: all 1s ease;
    visibility: hidden;
    overflow-y: hidden;
  }

  .menu-item {
    margin-right: 0;
    text-align: center;
    width: 100%;
    background-color: transparent;
  }

  .menu-list .btn-primary {
    width: 100%;
    max-width: 270px;
    padding: 1.7rem 3.7rem;
  }

  .btn-mobile {
    display: block;
  }

  .menu-list.active {
    display: flex;
    height: calc(100vh - 8.8rem);
    visibility: visible;
    overflow: auto;
  }

  .s-hero .container{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .s-hero .text {
    max-width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .s-hero .text h1,
  .s-hero .text p {
    text-align: center;
  }
  

  .s-hero .image {
    max-width: 100%;
  }

  .s-card-featured .container {
    flex-direction: column;  
  }

  .s-card-featured .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .s-card-featured .cards .card {
    margin: 0 0 3.2rem 0;
  }
}

@media (max-width: 768px) {
  
}

@media (max-width: 600px) {
  
}

@media (max-width: 480px) {
  html {
    font-size: 55%;
  }

  .logo {
    max-width: 130px;
  }

  .s-hero {
    padding: 4rem 0;
  }

  .s-hero .text p {
    margin-bottom: 2rem;
  }

  .s-hero .image {
    height: 30rem;
  }

  h1 {
    font-size: 4.2rem;
  }

  .s-card-featured .title.center p {
    text-align: center;
  }
}
